In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("HomeSalesAnalysis").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
data_url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(data_url)
sales_data = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
sales_data.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

In [4]:
# 2. Create a temporary view of the DataFrame.
sales_data.createOrReplaceTempView('sales_view')

In [5]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
avg_price_query = """
SELECT
    YEAR(date) AS year,
    ROUND(AVG(price), 2) AS avg_price
FROM sales_view
WHERE bedrooms = 4
GROUP BY year
ORDER BY year DESC
"""
avg_price_four_bedrooms = spark.sql(avg_price_query)
avg_price_four_bedrooms.show()

+----+---------+
|year|avg_price|
+----+---------+
|2022|296363.88|
|2021|301819.44|
|2020|298353.78|
|2019| 300263.7|
+----+---------+

In [6]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
avg_price_3br_3ba_query = """
SELECT
    YEAR(date_built) AS year_built,
    ROUND(AVG(price), 2) AS avg_price
FROM sales_view
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY year_built
ORDER BY year_built DESC
"""
avg_price_3br_3ba = spark.sql(avg_price_3br_3ba_query)
avg_price_3br_3ba.show()

+----------+---------+
|year_built|avg_price|
+----------+---------+
|      2017|292676.79|
|      2016|290555.07|
|      2015| 288770.3|
|      2014|290852.27|
|      2013|295962.27|
|      2012|293683.19|
|      2011|291117.47|
|      2010|292859.62|
+----------+---------+

In [7]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
query_specific_homes = """
SELECT
    YEAR(date_built) AS year_built,
    ROUND(AVG(price), 2) AS avg_price
FROM sales_view
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY year_built
ORDER BY year_built DESC
"""
avg_price_specific_homes = spark.sql(query_specific_homes)
avg_price_specific_homes.show()

+----------+---------+
|year_built|avg_price|
+----------+---------+
|      2017|280317.58|
|      2016| 293965.1|
|      2015|297609.97|
|      2014|298264.72|
|      2013|303676.79|
|      2012|307539.97|
|      2011|276553.81|
|      2010|285010.22|
+----------+---------+

In [8]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

query_view_price = """
SELECT
    view,
    ROUND(AVG(price), 2) AS avg_price
FROM sales_view
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY view DESC
"""

high_value_view_prices = spark.sql(query_view_price)
high_value_view_prices.show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 1.459648609161377 seconds ---

In [9]:
# 7. Cache the the temporary table home_sales.
spark.sql('CACHE TABLE sales_view')

DataFrame[]

In [10]:
# 8. Check if the table is cached.
print(spark.catalog.isCached('sales_view'))

True

In [11]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

view_price_query = """
SELECT view, ROUND(AVG(price), 2) AS avg_price
FROM sales_view
GROUP BY view
HAVING AVG(price) >= 350000
ORDER BY view DESC
"""

start_cached_time = time.time()

high_value_views_cached = spark.sql(view_price_query)
high_value_views_cached.show()

print("--- %s seconds ---" % (time.time() - start_cached_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 0.943516731262207 seconds ---

In [12]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 

sales_data.write.partitionBy("date_built").mode('overwrite').parquet("path_to_save_parquet/home_sales_partitioned")

In [13]:
# 11. Read the formatted parquet data.
partitioned_sales_data = spark.read.parquet("path_to_save_parquet/home_sales_partitioned")

In [14]:
# 12. Create a temporary table for the parquet data.
partitioned_sales_data.createOrReplaceTempView("parquet_sales_view")

In [15]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_parquet_time = time.time()

high_value_views_parquet = spark.sql(view_price_query)
high_value_views_parquet.show()

print("--- %s seconds ---" % (time.time() - start_parquet_time))

+----+----------+
|view| avg_price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 0.950798511505127 seconds ---

In [16]:
# 14. Uncache the home_sales temporary table.
spark.sql("UNCACHE TABLE sales_view")

DataFrame[]

In [17]:
# 15. Check if the home_sales is no longer cached
print(spark.catalog.isCached('sales_view'))

False